
  
  td {
    padding-right: 8px;
  }

  .vw4{
    width:40vw;
  }
 
  
  .btnFilter{
    
    height: 48px;
    background: #00A1DE;
    border-radius: 6px;
  }
  .iconFilter{
      width: 25px;
  }
  .rowTab{
      background: rgb(205, 236, 255);
  }
  

  .textTab1{
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #00A1DE;
  }
  .textTab2{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
  }
  .textReg{
    
   font-style: normal;
   font-size: 13px;
   line-height: 17px;
   color: #868685;

  }