<div class="row ">
    <div class="col-12">
        <button mat-dialog-close mat-flat-button class="btnClose d-none d-sm-none d-md-block">
            <span class="material-icons">close</span>
        </button>
    </div>
</div>
<div class="content-dialog text-center">
    <div class="row mb-5 mb-md-4">
        <div class="col-12 content-scroll mt-2">
            <div class="espImg">
                <img class="img-dialog" src="/assets/recursos-mantenimiento/popup-login/productgnv.png" alt="productgnv" width="80%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <button mat-dialog-close mat-flat-button class="style-button-202 mt-1 w-30" style="width:238px; border: 1px solid #00A1DE; border-radius: 6px;background: #FFFFFF; box-shadow: 0px 3px 12px rgba(114, 124, 142, 0.196706);">
                            <div class="d-flex align-items-center mb-1">
                            <div class="lnk-stl-1">
                                <img src="./assets/images/icons/back.svg" alt="enterokay">
                            </div>
                            <span class="cl-cal-bl" style="color:#0db7ec">Salir</span> 
                        </div>
                    </button>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <button mat-dialog-close mat-raised-button class="style-button-101 mt-1 w-30" style="width:238px;" type="submit" (click)="SolicitudPreevaluacion()">
                        <div class="d-flex align-items-center mb-1">
                            <span>Realizar pre evaluación</span>
                            <div class="lnk-stl-2">
                                <img src="./assets/images/icons/solicitar.svg"
                                    alt="enterokay">
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>