

<!-- <div class="mat-toolbar-rg"></div> 
<div class="container mt--10 pb-5 mg-top">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8"></div>
        <div class="col-lg-2 col-md-2 pull-right">
          
          <ul class="navbar-nav align-items-center ml-auto ml-md-10">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar rounded-circle ico-circle-user" > 
                    <span class="ico-user"></span>
                  </span> 
                  <div class="media-body ml-1 d-none d-lg-block" style="margin-right: 10px;" >
                    <span
                      class="mb-0 text-sm font-weight-bold"
                      style="color: white" >TI Sistemas</span >
                    <br />
                    <span class="mb-0 text-sm" style="color: white" >Administrador Web</span >
                  </div>
                </div>
              </a>
              <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu> 
                <div class="dropdown-divider"></div>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-settings-gear-65"></i>&nbsp;&nbsp;
                  <span>Cerrar Sesión</span>
                </a>
              </div>
            </li>
          </ul> 
        </div>
    </div>
</div> -->

<!-- =====ok -->
<!-- <nav class="navbar navbar-light bg-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="media align-items-center floatRight">
          <span class="avatar rounded-circle ico-circle-user">
            <span class="ico-user"></span>
          </span>
          <div
            class="media-body ml-1 d-none d-lg-block"
            style="margin-right: 10px"
          >
            <span class="mb-0 text-sm font-weight-bold" style="color: white"
              >TI Sistemas</span
            >
            <br />
            <span class="mb-0 text-sm" style="color: white"
              >Administrador Web</span
            >
          </div>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon style="color: #ffffff">expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="">
              <mat-icon>logout</mat-icon>
              <span>Cerrar Sesión</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</nav> -->



    <!-- <nav class="navbar navbar-top navbar-expand navbar-dark bg-cald border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item d-xl-none">

              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>
          </ul>

          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <span class="fa fa-user"></span>
                  </span>
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">TI Sistemas</span>
                    <br>
                    <small class="textmen">Administrador Web</small>
                  </div>
                  <span class="material-icons">expand_more</span>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>Mi cuenta</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#!" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Cerrar Sesión</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    