a{
    text-decoration:none;
}
.navbar-vertical{
    width: 120px;
    box-shadow: 0 0 40px #00000021;
}
.navbar-expand-xs{
 z-index: 2 !important;
 background: #ffffff !important;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
//  padding-top: 100px !important;

}

.vertical-nav li {
//    padding-top: 20px;
//    padding-bottom: 20px !important;

  list-style: none;
  display: block;
  width: 100%;
  border-bottom: solid 1px #f2f5ff;
  text-align: center;
  position: relative;
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  height: 50px !important;
}
.vertical-nav li:last-child {
  border: none;
}
.vertical-nav li a {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  transition: all 0.2s ease;
}
.vertical-nav li:hover  {
  background: #E6F6FC;
//   border: 1px solid #00A1DE;
  transition: all 0.2s ease;
}

.vertical-nav li .hover-menu li:hover  {
    background: #E6F6FC;
    border: none;
    transition: all 0.2s ease;
  }

// .vertical-nav li:hover > a .feather {
//   transform: scale(1.1);
//   transition: all 0.2s ease;
// }

.vertical-nav li:hover > .hover-menu,
.vertical-nav li:focus-within > .hover-menu {
  visibility: visible;
  opacity: 1;
   -webkit-animation: slide-down 0.2s ease-out;
   -moz-animation: slide-down 0.2s ease-out;
  transition: all 0.5s ease;
  display: block;
  
}

.vertical-nav li .hover-menu {
  background: #ffffff;
  position: absolute;
  visibility: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
  left: 120px;
  width: 250px;
  margin: 0;
  padding: 0;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 0 40px #00000021;
  z-index: 3 !important;
}
.vertical-nav li .hover-menu:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.vertical-nav li .hover-menu ul {
  margin: 0;
  padding: 0;
}
.vertical-nav li .hover-menu ul li {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}
.vertical-nav li .hover-menu ul li a {
  width: 100%;
  display: block ;
  text-decoration: none;
  padding: 15px 20px;
  text-align: left;
  height: auto ;
  font-weight: 400;
  color: #868685;
}
.vertical-nav li .hover-menu ul li a:hover {
  border: none;
  background: transparent;
  color: #00A1DE;
  transition: 0.3s ease;
}

.divLogo{
    position: relative;
    width: 80px;
    left: 11px;
    top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.textMenPadre {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #868685;
}
.iconMenu{
  height: 22px;
  width: 22px;
}
.vertical-nav .bgMenu{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.mouse{
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}