<section>
    <div class="pages-container-background"></div>
    <div class="mat-toolbar-rg"></div>

    <div class="container-fluid mt--10 pb-5 mg-top">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9">
                <div class="center-img-bt">
                    <img src="/assets/images/logo-01 1.svg" alt="front-image">
                </div>
                <div class="font-cl-img">
                    <h1 style="color: white;">Registro de usuarios</h1>
                </div>
                <br>
                <div class="bg-white border-rounded-1">
                    <mat-card class="cardTop mt-3">
                        <form [formGroup]="formCreateClientBusiness" class="row" autocomplete="off">
                            <div class="card-body">
                                <div class="basic-form">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="text-center">
                                                <a routerLink="/registrar-usuario" class="style-button-per mat-stl-1">
                                                    <strong>Cliente persona</strong>
                                                </a>
                                                <div class="cn-camp-1">
                                                    <hr class="line-101 style-hr-ln">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-center">
                                                <a routerLink="/registrar-empresa" class="style-button-per step-frm-1">
                                                    <strong>Cliente empresa</strong></a>
                                                <div class="dv-stl-ln">
                                                    <hr class="line-202 ln-202">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <label class="txt14w500 col-12">RUC</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput formControlName="rucBusiness" placeholder="RUC de la empresa" class="col-12">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <label class="txt14w500 col-12">Razón social</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput formControlName="razonSocial" placeholder="Razón social de la empresa" class="col-12">
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group col-12">
                                            <label class="txt14w500 col-12">Email</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput formControlName="emailBusiness" placeholder="Ingresa tu email" class="col-12">
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <label class="txt14w500 col-12">Telefono</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput formControlName="telefonoBusiness" placeholder="Ingrese el telefono" class="col-12">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <label class="txt14w500 col-12">Celular</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput formControlName="celularBusiness" placeholder="Ingrese el celular" class="col-12">
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group col-12">
                                            <label class="txt14w500 col-12">Contraseña</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput formControlName="passwordBusiness" placeholder="Ingrese una contraseña" type="password" class="col-12">
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-12">
                                            <label class="txt14w500 col-12">Confirmar contraseña</label>
                                            <mat-form-field appearance="outline" [style.fontSize.px]=14 class="col-12">
                                                <input matInput placeholder="Repita la contraseña" type="password" formControlName="passConfirmBusiness" class="col-12">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group example-section col-12">
                                            <mat-checkbox formControlName="tpoliticasCondiciones" class="example-margin col-12">Acepto
                                                <a href="javascript:void(0);" class="cl-ter-pol"><strong> Terminos y condiciones</strong></a> y
                                                <a href="javascript:void(0);" class="cl-cal-bl"><strong> Política y privacidad</strong></a>
                                            </mat-checkbox>
                                        </div>
                                        <div class="form-group col-12">
                                            <mat-checkbox formControlName="tpfinesComerciales" class="example-margin col-12">Acepto el uso de mi información para
                                                <a href="javascript:void(0);" class="cl-ter-pol"><strong> fines comerciales </strong></a>
                                            </mat-checkbox>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-12 text-center">
                                            <button mat-flat-button class="style-button-202 ml-2 mr-2" style=" border: 1px solid #00A1DE; border-radius: 6px;background: #FFFFFF; box-shadow: 0px 3px 12px rgba(114, 124, 142, 0.196706);" type="submit" (click)="cancelarRegistroUsario()">
                                                <div class="d-flex align-items-center mb-1">
                                                    <div class="lnk-stl-1">
                                                        <img src="./assets/images/icons/back.svg" alt="enterokay">
                                                    </div>
                                                    <span class="cl-cal-bl">Cancelar</span>
                                                </div>
                                            </button>
                                            <button mat-flat-button class="style-button-101 ml-2 mr-2" (click)="registerUserTypeBusiness()">
                                                <div class="d-flex align-items-center mb-1">
                                                    <span>Registrar</span>
                                                    <div class="lnk-stl-2">
                                                        <img src="./assets/images/icons/register-user.png"
                                                            alt="enterokay">
                                                    </div>
                                                </div>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                        </form>

                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</section>